<!DOCTYPE html>
<html>
	<head><title>Produtos</title></head>
	<body><h3><b>Produtos</b></h3>
		<table border="1">
			<thead>
				<tr>
					<th>Excluir</th>
					<th>Nome</th>
					<th>Descricao</th>
					<th>Preco</th>
					<th>Alterar</th>
					<th>Add ao carrinho</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td><a th:href="${'/produtos/excluir?id=' + produto.id}">Excluir</a></td>
					<td th:text="${produto.name}">Nome</td>
					<td th:text="${produto.description}">Descricao</td>
					<td th:text="${produto.price}">Preco</td>
					<td><a th:href="${'/produtos/preAlteracao?id=' + produto.id}">Alterar</a></td>
					<td><a th:href="${'/carrinho/add?id=' + produto.id}">Add</a></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<form action="/produtos/inserir" method="post" th:object="${produtoEditavel}">
			<!-- essa tag hidden será o id do produto necessário para identificar no GET por id qual produto queremos alterar -->
			<input type="hidden" name="id" th:field="*{id}"/>
			<label for="name">Nome: </label><input type="text" id="name" name="name" th:field="*{name}"/>
			<label for="description">Descricao: </label><input type="text" id="description" name="description" th:field="*{description}"/>
			<label for="price">Preco: </label><input type="text" id="price" name="price" th:field="*{price}"/>
			<button type="submit" id="salvar">Enviar</button>	
		</form>
	</body>
</html>